global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "faas-gateway"
    metrics_path: /metrics
    static_configs:
      - targets: ["faas-gateway:2112"]
